@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background: rgb(54, 13, 54);
}

.white {
  background: #eed4ac;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #22c022;
}

.lost {
  height: calc(50vh - 60px);

  padding: 30px;
  margin-left: 50px;
  background: rgb(54, 13, 54);
}
.lost h3 {
  color: #eed4ac;
  font-family: "Abril Fatface", cursive;

  letter-spacing: 10px;
}

.lost > * {
  color: #eed4ac;

}
.App h2 {
  color: rgb(228, 204, 204);
  font-family: "Abril Fatface", cursive;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "Abril Fatface", cursive;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  margin-left: -20px;
}
